# install basic requirements
-r requirements.txt

# art of code
black
flake8
isort
mypy
pip-tools
pydocstyle
pylint
python-dotenv
ruff
taskipy

# tests
coverage
unittest-xml-reporting
pyrefly
pytest

# doc
groundwork-sphinx-theme
mkdocs
mkdocs-dracula-theme
mkdocs-jupyter
mkdocs-material
mkdocstrings-python
pypandoc
sphinx
sphinx-markdown-builder
sphinx-math-dollar
sphinx-rtd-theme
